.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    gap: 20px;
    
   & .items{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        height: auto;
        gap: 5px;
        font-size: 20px;
        overflow: hidden;
        padding-inline: 1em;

        .questionContainer{
            position: relative;
            background-color: rgba(251, 250, 250, .4);
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding-block: 1em;
            z-index: 4;
            border-radius: 3px;
            width: 100%;
        }
        .questionContainer::after{
            content: '';
            width: 100%;
            position: absolute;
            height: 1px;
            z-index: 4;
            background-color: gray;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
        .answerContainer{
            position: relative;
            border-radius: 3px;
            align-self: center;
            line-height: 1.5em;
            width: 100%;
            padding-inline: .5em;
            text-align: center;
            display: flex;
            background-color: lightgrey;
            overflow: hidden;
            height: 1px;

            & .answer{
                padding: 1em;
            }
        }

    }
    &  .items:hover{
        filter: brightness(90%);
    
    }
}