.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 4/5;
    color: black;
    width: 30vw;
    text-transform: uppercase;
    cursor: pointer;
    border: black 1px solid;
    flex-shrink: 0;
    object-fit: cover;

}

@media(max-width: 600px){

    .imgContainer{
        width: 100%;
    }
}
