.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 800px;
    position: relative;
    width: 100vw;
    gap:50px;
    background-color: whitesmoke;
    padding: 5%;

    & h2{
        padding: .5em;
        border: 1px solid gray;
        border-radius: 3px;
        align-self: flex-start;
        margin-top: 5%;
        margin-inline: 1em;
        
    }
}

@media(max-width: 1024px){

    .container{
        padding: 0;
        padding-block: 10%;
        & h2{
            font-size: 18px;
            margin-top: 15%;
    
        }
    }
}