.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

.secta{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    background-color: gainsboro;
    padding: 5%;
    position: relative;
    width: 100%;
    gap: 20px;

.heroContainer{
    gap:10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .hero{
        color: black;
        font-family: 'DM Serif Text', sans-serif;
        font-size: 40px;
        text-transform:  uppercase;
        font-style: normal;
    }


    & p{
        font-size: 24px;
    }

}
.itemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    height: 250px;

    & p{
        text-align: center;
        font-size: 20px;
    }

.btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;;

    .contact,  .explore{
        font-size: 18px;
        display: flex;
        padding: 1em;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        border: gray 1px solid;
        border-radius: 3px;
        width: fit-content;
        padding-inline:3.5em;
        text-decoration: none;
        cursor: pointer;
        font-family: 'DM Serif Text', sans-serif;
        }
}
}
}

.sectb{
    /* display: grid;
    grid-template-columns:  1fr 1fr; */
    display: flex;
    width: 100vw;
    height: auto;
    min-height: 800px;
    position: relative;
    padding-block: 1em;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
    background-color: #181818;
    color: whitesmoke;

    .category{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 20vw;
        gap: 20%;
        padding-block: 10%;
        
        & h5{
            align-self: center;
            font-size: 24px;
            font-family: 'DM Serif Text', sans-serif;
        }

        .lists{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items:flex-end;
            gap:15px;
            width: 100%;
            padding: 1em;

            & li{
                    text-transform: uppercase;
                    padding: .5em;  
                    font-size: 20px;
                    border-radius: 3px;         
                    cursor: pointer;
                    font-weight: 400;
              }

          &  li:hover{
                   filter: brightness(90%);
                   }
              &  li:hover .svgContainer{
                    transition: .3s;
                    filter: brightness(90%);
                   }

            &   .svgContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1/1;
                width: fit-content;
                border-radius: 50%;
                border: 1px solid gray;
                padding: .2em;
                /* transform: rotate(-90deg); */

                & svg{
                        width: 12px;
                        height: 12px;
                }
             
        }

    
            }
    }
}
    .gallery{
        display: flex;
        position: relative;
        width: 65vw;
        flex-direction: column;
        border-radius: 3px;
        height: 800px;
        justify-content: center;

        .slidesContainer{
            position: relative;
            height: 80%;
            outline: auto lightgray;
        }
        .arrowContainer{
            justify-content: space-between;
            position: relative;
            width: 100%;
            align-items: center;
            padding-inline: 5%;
            display: flex;
            height: 10%;
            z-index: 99;

            & span{
                font-size: 16px;
                cursor: pointer;
                border: 1px solid gray;
                padding-inline: 1em;
                border-radius: 3px;
                padding-block: .5em;
                user-select: none;
            }
        }

    }
  
}

@media(max-width: 1024px){

    .container{
     .secta{
        gap: 50px;
        
        .itemContainer{
            width: 100%;
        .btnContainer{
            flex-direction: column;

          .contact,  .explore{
                width: 100%;
            }
        }
        }

        }
    .sectb{
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;

         .category{
         width: 100vw;
         height: fit-content;
         justify-content: center;
         align-items: center;
         padding: .5em;
         margin-block: 0;

         & h5{
         margin: 2vw;
         }
        
         & .lists{
            flex-direction: row;
            padding: 0;
            width: 95vw;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 10px;
            padding: .5em;
            
            & li{
                width: fit-content;
                font-size: 12px;
                border: whitesmoke 1px solid;
            }

         }

         }
        
        & .gallery{
            width: 97vw;
            align-self: center;
            height: auto;
            gap: 10px;
            
            .slidesContainer{
                aspect-ratio: 4/5;

            }

        }

}
}
}