.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    position: relative;

.secta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 800px;
    padding: 5%;
    position: relative;
    width: 100%;
    gap: 10px;

.heroContainer{
    gap:10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .hero{
        font-family: 'DM Serif Text', sans-serif;
        font-size: 3rem;
        text-transform:  uppercase;
        font-style: normal;
    }


    & p{
        font-size: 24px;
    }

}
.itemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    & p{
        text-align: center;
        font-size: 2rem;
    }

.btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;;

    .contact,  .explore{
        font-size: 1rem;
        display: flex;
        padding: 1em;
        justify-content: center;
        align-items: center;
        border: gray 2px solid;
        border-radius: 20px;
        width: fit-content;
        padding-inline:3.5em;
        text-decoration: none;
        cursor: pointer;
        background-color: transparent;
        color: black;
    }
}
}
}

.sectb{
    /* display: grid;
    grid-template-columns:  1fr 1fr; */
    display: flex;
    height: auto;
    width: 100vw;
    position: relative;
    padding-block: 1em;
    align-items: flex-start;
    justify-content: center;
    color: whitesmoke;

    .gallery{
        position: relative;
        width: 100vw;
        flex-direction: column;
        border-radius: 3px;
        justify-content: center;
        
        .slidesContainer{
            display: flex;
            position: relative;
            overflow: scroll;
            background-color: azure;
        }
    }
  
}


}
@media(max-width: 1024px){

    .container{
     .secta{
        .heroContainer{
            width: 80%;
        }
        .itemContainer{
            width: 80%;
            gap: 50px;

            & p{
                font-size: 1.8rem;
            }

        .btnContainer{
            flex-direction: column;
            width: 80%;

          .contact,  .explore{
                width: 100%;
            }
        }
        }

        }
    .sectb{
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;



}
}
}
@media(max-width: 600px){

  .container{
    .secta{
        min-height: 700px;
        justify-content: flex-end;
        padding-bottom: 20%;
        gap: 0px;
        .heroContainer{
            .hero{
                font-size: 3em;
            }
        }
        .itemContainer{
            height: fit-content;
            width: 100%;
            transform: translateY(10%);
                & p{
                    font-size: 1.5rem;
                }
            .btnContainer{
                width: 100%;
                flex-direction: column;

                .explore, .contact {
                    width: 90%;
                    padding: 1.5em;
                    font-size: 1rem;

                }
            }
        }
    }
    .sectb{
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        min-height: 700;

        .gallery{
            width: 97vw;
            align-self: center;
            height: auto;
            position: sticky;
            top: 0;
            
            .slidesContainer{
                flex-direction: column;
                display: flex;
                position: sticky;
                top: 0;

            }

        }



}
}
}
