.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    gap: 14px;
    padding: 2em;

    .sitemap{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        padding-block: .5em;

        & h4{
            color: gray;
        }
    }
    .sitemap::before{
        content: '';
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        background-color: lightgray;
        height: 1px;
        mix-blend-mode: difference;

    }
.itemContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

    .socialContainer{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        gap:10px;
        padding-block: .5em;

        & h4{
            color: gray;
        }
    }
    .emailContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;

        & p{
            text-transform: uppercase;
        }
        & h4{
            color: gray;
            align-self: flex-start;
        }
    }

}
/* .itemContainer::before{
    content: '';
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: lightgray;
    height: 1px;
    mix-blend-mode: difference;
} */

    .date{
        align-self: center;
        font-size: 16px;
        margin: 0;
        font-weight: 500;
        color: gray;
        text-transform: uppercase;
    }
}

@media(max-width: 1024px){

    .container{
        padding-inline: 1em;

    .itemContainer{
        flex-direction: column;
        gap: 20px;
        
        .emailContainer{
            align-items: flex-start;
        }
    }
    }
}