.container{
    display: grid;
    grid-template-areas: 'one one one one'
                                         'three three three three'
                                        'three  three three three'
                                        'four four four four';
    width: 100vw;
    height: auto;
    background-color: #f4f4f4;

    .header{
        grid-area:  one;
        display: flex;
        width: 100vw;
        position: fixed;
        z-index: 999;
    }

    .navigation{
        width: auto;
        height: auto;
    }

    .main{
        grid-area: three;
        position: relative;
        height: 100%;
        width:100vw;

    }
 
    .footer{
        grid-area: four;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 1024px){
    .container{
        display: flex;
        flex-direction: column;

        .main{
            width: 100vw;
            min-height: 100vh;
        }

        .header{
            position: fixed;
            top:0;
            padding: 0;
        }
}
    }
      